flask 
python-dotenv 
requests
replicate
openai
sqlite3
langchain-core
langchain-community
langchain-openai
pydantic==2.10.1 #compatible with instagrapi
faiss-cpu
langchain-community 
duckduckgo-search 
crewai
transformers 
torch 
pillow